# python panda tutorial-5

# how to write CSV file

In [1]:
import pandas as pd

In [5]:
df1=pd.read_csv('G:\\csv\\business-price-indexes-june-2020-quarter-corrections-to-previously-published-statistics.csv')
df1

,Series reference,Period,Description,Revised,Initially published
0,FPIQ.SEA31,2019.09,"Farm expenses price index, Horticulture and fr...",1434,1453
1,FPIQ.SEA31,2019.12,"Farm expenses price index, Horticulture and fr...",1453,1472
2,FPIQ.SEA31,2020.03,"Farm expenses price index, Horticulture and fr...",1412,1431
3,FPIQ.SEB31,2019.09,"Farm expenses price index, Sheep, beef, and gr...",1489,1492
4,FPIQ.SEB31,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1507,1510
5,FPIQ.SEB31,2020.03,"Farm expenses price index, Sheep, beef, and gr...",1462,1465
6,FPIQ.SEB39,2019.09,"Farm expenses price index, Sheep, beef, and gr...",1193,1194
7,FPIQ.SEB39,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1199,1200
8,FPIQ.SEB39,2020.03,"Farm expenses price index, Sheep, beef, and gr...",1187,1188
9,FPIQ.SEB99,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1159,1160
10,FPIQ.SEC31,2019.09,"Farm expenses price index, Dairy farms, Livest...",992,1074

In [3]:
df11=pd.read_csv('E:\csv files\student_result1.csv')
df11

   Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
0        1001       A     10          2                       3          50
1        1002       B     10          6                       2          80
2        1003       A     10          3                       2          60
3        1004       C     11          0                       1          45
4        1005       C     12          5                       2          75

In [5]:
df11=pd.read_csv('E:\csv files\student_result1.csv',header=1)
df11

   1001  A  10  2  3  50
0  1002  B  10  6  2  80
1  1003  A  10  3  2  60
2  1004  C  11  0  1  45
3  1005  C  12  5  2  75

In [8]:
df11=pd.read_csv('E:\csv files\student_result1.csv',header=None)
df11

            0        1      2          3                       4           5
0  Student ID  Section  Class  Study hrs  Social Media usage hrs  Percentage
1        1001        A     10          2                       3          50
2        1002        B     10          6                       2          80
3        1003        A     10          3                       2          60
4        1004        C     11          0                       1          45
5        1005        C     12          5                       2          75

In [10]:
df11=pd.read_csv('E:\csv files\student_result1.csv',header=None,prefix='column')
df11

      column0  column1 column2    column3                 column4     column5
0  Student ID  Section   Class  Study hrs  Social Media usage hrs  Percentage
1        1001        A      10          2                       3          50
2        1002        B      10          6                       2          80
3        1003        A      10          3                       2          60
4        1004        C      11          0                       1          45
5        1005        C      12          5                       2          75

In [6]:
df1=pd.read_csv('G:\\csv\\business-price-indexes-june-2020-quarter-corrections-to-previously-published-statistics.csv')
df1

,0,1,2,3,4
0,Series reference,Period,Description,Revised,Initially published
1,FPIQ.SEA31,2019.09,"Farm expenses price index, Horticulture and fr...",1434,1453
2,FPIQ.SEA31,2019.12,"Farm expenses price index, Horticulture and fr...",1453,1472
3,FPIQ.SEA31,2020.03,"Farm expenses price index, Horticulture and fr...",1412,1431
4,FPIQ.SEB31,2019.09,"Farm expenses price index, Sheep, beef, and gr...",1489,1492
5,FPIQ.SEB31,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1507,1510
6,FPIQ.SEB31,2020.03,"Farm expenses price index, Sheep, beef, and gr...",1462,1465
7,FPIQ.SEB39,2019.09,"Farm expenses price index, Sheep, beef, and gr...",1193,1194
8,FPIQ.SEB39,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1199,1200
9,FPIQ.SEB39,2020.03,"Farm expenses price index, Sheep, beef, and gr...",1187,1188
10,FPIQ.SEB99,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1159,1160
11,FPIQ.SEC31,2019.09,"Farm expenses price index, Dairy farms, Livest...",992,1074

In [7]:
df1=pd.read_csv('G:\\csv\\business-price-indexes-june-2020-quarter-corrections-to-previously-published-statistics.csv',header=1)
df1

,Series reference,Period,Description,Revised,Initially published
0,FPIQ.SEA31,2019.09,"Farm expenses price index, Horticulture and fr...",1434,1453
1,FPIQ.SEA31,2019.12,"Farm expenses price index, Horticulture and fr...",1453,1472
2,FPIQ.SEA31,2020.03,"Farm expenses price index, Horticulture and fr...",1412,1431
3,FPIQ.SEB31,2019.09,"Farm expenses price index, Sheep, beef, and gr...",1489,1492
4,FPIQ.SEB31,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1507,1510
5,FPIQ.SEB31,2020.03,"Farm expenses price index, Sheep, beef, and gr...",1462,1465
6,FPIQ.SEB39,2019.09,"Farm expenses price index, Sheep, beef, and gr...",1193,1194
7,FPIQ.SEB39,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1199,1200
8,FPIQ.SEB39,2020.03,"Farm expenses price index, Sheep, beef, and gr...",1187,1188
9,FPIQ.SEB99,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1159,1160
10,FPIQ.SEC31,2019.09,"Farm expenses price index, Dairy farms, Livest...",992,1074

In [9]:
df1=pd.read_csv('G:\\csv\\business-price-indexes-june-2020-quarter-corrections-to-previously-published-statistics.csv',header=None)
df1

,0,1,2,3,4
0,0,1,2,3,4
1,Series reference,Period,Description,Revised,Initially published
2,FPIQ.SEA31,2019.09,"Farm expenses price index, Horticulture and fr...",1434,1453
3,FPIQ.SEA31,2019.12,"Farm expenses price index, Horticulture and fr...",1453,1472
4,FPIQ.SEA31,2020.03,"Farm expenses price index, Horticulture and fr...",1412,1431
5,FPIQ.SEB31,2019.09,"Farm expenses price index, Sheep, beef, and gr...",1489,1492
6,FPIQ.SEB31,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1507,1510
7,FPIQ.SEB31,2020.03,"Farm expenses price index, Sheep, beef, and gr...",1462,1465
8,FPIQ.SEB39,2019.09,"Farm expenses price index, Sheep, beef, and gr...",1193,1194
9,FPIQ.SEB39,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1199,1200
10,FPIQ.SEB39,2020.03,"Farm expenses price index, Sheep, beef, and gr...",1187,1188
11,FPIQ.SEB99,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1159,1160
12,FPIQ.SEC31,2019.09,"Farm expenses price index, Dairy farms, Livest...",992,1074

In [10]:
df1=pd.read_csv('G:\\csv\\business-price-indexes-june-2020-quarter-corrections-to-previously-published-statistics.csv',header=None,prefix='columns')
df1

,columns0,columns1,columns2,columns3,columns4
0,0,1,2,3,4
1,Series reference,Period,Description,Revised,Initially published
2,FPIQ.SEA31,2019.09,"Farm expenses price index, Horticulture and fr...",1434,1453
3,FPIQ.SEA31,2019.12,"Farm expenses price index, Horticulture and fr...",1453,1472
4,FPIQ.SEA31,2020.03,"Farm expenses price index, Horticulture and fr...",1412,1431
5,FPIQ.SEB31,2019.09,"Farm expenses price index, Sheep, beef, and gr...",1489,1492
6,FPIQ.SEB31,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1507,1510
7,FPIQ.SEB31,2020.03,"Farm expenses price index, Sheep, beef, and gr...",1462,1465
8,FPIQ.SEB39,2019.09,"Farm expenses price index, Sheep, beef, and gr...",1193,1194
9,FPIQ.SEB39,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1199,1200
10,FPIQ.SEB39,2020.03,"Farm expenses price index, Sheep, beef, and gr...",1187,1188
11,FPIQ.SEB99,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1159,1160
12,FPIQ.SEC31,2019.09,"Farm expenses price index, Dairy farms, Livest...",992,1074

In [11]:
df1=pd.read_csv('G:\\csv\\business-price-indexes-june-2020-quarter-corrections-to-previously-published-statistics.csv',header=None,prefix='columns data')
df1

,columns data0,columns data1,columns data2,columns data3,columns data4
0,0,1,2,3,4
1,Series reference,Period,Description,Revised,Initially published
2,FPIQ.SEA31,2019.09,"Farm expenses price index, Horticulture and fr...",1434,1453
3,FPIQ.SEA31,2019.12,"Farm expenses price index, Horticulture and fr...",1453,1472
4,FPIQ.SEA31,2020.03,"Farm expenses price index, Horticulture and fr...",1412,1431
5,FPIQ.SEB31,2019.09,"Farm expenses price index, Sheep, beef, and gr...",1489,1492
6,FPIQ.SEB31,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1507,1510
7,FPIQ.SEB31,2020.03,"Farm expenses price index, Sheep, beef, and gr...",1462,1465
8,FPIQ.SEB39,2019.09,"Farm expenses price index, Sheep, beef, and gr...",1193,1194
9,FPIQ.SEB39,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1199,1200
10,FPIQ.SEB39,2020.03,"Farm expenses price index, Sheep, beef, and gr...",1187,1188
11,FPIQ.SEB99,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1159,1160
12,FPIQ.SEC31,2019.09,"Farm expenses price index, Dairy farms, Livest...",992,1074

In [12]:
df1=pd.read_csv('G:\\csv\\business-price-indexes-june-2020-quarter-corrections-to-previously-published-statistics.csv',header=None,prefix=' data columns')
df1

,data columns0,data columns1,data columns2,data columns3,data columns4
0,0,1,2,3,4
1,Series reference,Period,Description,Revised,Initially published
2,FPIQ.SEA31,2019.09,"Farm expenses price index, Horticulture and fr...",1434,1453
3,FPIQ.SEA31,2019.12,"Farm expenses price index, Horticulture and fr...",1453,1472
4,FPIQ.SEA31,2020.03,"Farm expenses price index, Horticulture and fr...",1412,1431
5,FPIQ.SEB31,2019.09,"Farm expenses price index, Sheep, beef, and gr...",1489,1492
6,FPIQ.SEB31,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1507,1510
7,FPIQ.SEB31,2020.03,"Farm expenses price index, Sheep, beef, and gr...",1462,1465
8,FPIQ.SEB39,2019.09,"Farm expenses price index, Sheep, beef, and gr...",1193,1194
9,FPIQ.SEB39,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1199,1200
10,FPIQ.SEB39,2020.03,"Farm expenses price index, Sheep, beef, and gr...",1187,1188
11,FPIQ.SEB99,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1159,1160
12,FPIQ.SEC31,2019.09,"Farm expenses price index, Dairy farms, Livest...",992,1074

In [15]:
df1=pd.read_csv('G:\\csv\\business-price-indexes-june-2020-quarter-corrections-to-previously-published-statistics.csv',names=['series','time','descrip','revised nu.','published'])
df1

,series,time,descrip,revised nu.,published
0,0,1,2,3,4
1,Series reference,Period,Description,Revised,Initially published
2,FPIQ.SEA31,2019.09,"Farm expenses price index, Horticulture and fr...",1434,1453
3,FPIQ.SEA31,2019.12,"Farm expenses price index, Horticulture and fr...",1453,1472
4,FPIQ.SEA31,2020.03,"Farm expenses price index, Horticulture and fr...",1412,1431
5,FPIQ.SEB31,2019.09,"Farm expenses price index, Sheep, beef, and gr...",1489,1492
6,FPIQ.SEB31,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1507,1510
7,FPIQ.SEB31,2020.03,"Farm expenses price index, Sheep, beef, and gr...",1462,1465
8,FPIQ.SEB39,2019.09,"Farm expenses price index, Sheep, beef, and gr...",1193,1194
9,FPIQ.SEB39,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1199,1200
10,FPIQ.SEB39,2020.03,"Farm expenses price index, Sheep, beef, and gr...",1187,1188
11,FPIQ.SEB99,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1159,1160
12,FPIQ.SEC31,2019.09,"Farm expenses price index, Dairy farms, Livest...",992,1074

In [13]:
df11=pd.read_csv('E:\csv files\student_result1.csv',header=None,names=['first column','2nd column','3rd column','4th column','5th column','6th column',])
df11

,first column,2nd column,3rd column,4th column,5th column,6th column
0,Student ID,Section,Class,Study hrs,Social Media usage hrs,Percentage
1,1001,A,10,2,3,50
2,1002,B,10,6,2,80
3,1003,A,10,3,2,60
4,1004,C,11,0,1,45
5,1005,C,12,5,2,75

In [14]:
df11

,first column,2nd column,3rd column,4th column,5th column,6th column
0,Student ID,Section,Class,Study hrs,Social Media usage hrs,Percentage
1,1001,A,10,2,3,50
2,1002,B,10,6,2,80
3,1003,A,10,3,2,60
4,1004,C,11,0,1,45
5,1005,C,12,5,2,75