# Python pandas tutorial-15

# pandas Groupby() function

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('G:\\csv\\household-living-costs-price-indexes-june-2020-quarter-group-facts.csv')
df

,hlpi_name,year,hlpi,tot_hhs,own,own_wm,own_prop,own_wm_prop,prop_hhs,age,size,income,expenditure,eqv_income,eqv_exp
0,All households,2008,allhh,1560859,1087580,574406,69.7,36.8,100.0,35.9,2.7,46704,42394,26869,25132
1,Beneficiary,2008,benef,185965,71256,39405,38.3,21.2,11.9,29.9,2.6,23404,25270,14258,15824
2,Income quintile 1 (low),2008,disq1,312376,191470,48424,61.3,15.5,20.0,40.0,2.3,16747,21145,13402,14408
3,Income quintile 2,2008,disq2,312333,196203,84171,62.8,26.9,20.0,34.7,2.8,31308,29855,18917,18266
4,Income quintile 3,2008,disq3,312240,217657,141318,69.7,45.3,20.0,31.5,3.0,49106,46561,26870,24672
5,Income quintile 4,2008,disq4,312336,229014,147658,73.3,47.3,20.0,35.3,2.6,61674,52776,36691,31958
6,Income quintile 5 (high),2008,disq5,311574,253235,152835,81.3,49.1,20.0,39.3,2.5,96861,72822,55637,42932
7,Expenditure quintile 1 (low),2008,expq1,312761,194358,49448,62.1,15.8,20.0,38.7,2.5,23680,16413,15190,11015
8,Expenditure quintile 2,2008,expq2,311973,206342,86390,66.1,27.7,20.0,36.1,2.7,34155,29085,20357,18121
9,Expenditure quintile 3,2008,expq3,311840,194361,108065,62.3,34.7,20.0,33.0,2.8,49771,42662,27203,25132
10,Expenditure quintile 4,2008,expq4,312257,231612,149007,74.2,47.7,20.0,35.1,2.7,60863,59015,34547,34167
11,Expenditure quintile 5 (high),2008,expq5,312028,260907,181496,83.6,58.2,20.0,36.7,2.5,77434,89053,46269,51550
12,Maori,2008,maori,253018,119963,77076,47.4,30.5,16.2,28.9,3.2,42885,35312,23096,19797
13,Superannuitant,2008,super,300243,263054,15406,87.6,5.1,19.2,70.3,1.6,22367,21538,17203,17211
14,All households,2011,allhh,1607228,1048164,523698,65.2,32.6,100.0,36.3,2.6,53103,46098,30833,27335

In [5]:
gr1=df.groupby(by='tot_hhs')
gr1

In [4]:
df11

,Series reference,Period,Description,Revised,Initially published
0,FPIQ.SEA31,9/1/2019,"Farm expenses price index, Horticulture and fr...",1434.0,1453.0
1,FPIQ.SEA31,10/2/2020,"Farm expenses price index, Horticulture and fr...",1453.0,1472.0
2,FPIQ.SEA31,11/3/2020,"Farm expenses price index, Horticulture and fr...",1412.0,1431.0
3,FPIQ.SEB31,12/4/2020,"Farm expenses price index, Sheep, beef, and gr...",1489.0,1492.0
4,FPIQ.SEB31,13/5/2020,NaN,1507.0,1510.0
5,NaN,14/6/2020,"Farm expenses price index, Sheep, beef, and gr...",NaN,1465.0
6,FPIQ.SEB39,15/7/2020,"Farm expenses price index, Sheep, beef, and gr...",1193.0,1194.0
7,FPIQ.SEB39,12/8/2020,NaN,1199.0,1200.0
8,FPIQ.SEB39,12/9/2020,"Farm expenses price index, Sheep, beef, and gr...",1187.0,NaN

In [6]:
gr1=df11.groupby(by='Revised')
gr1

In [12]:
df11

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
5,Paper flowers instructions,ART_AND_DESIGN,4.4,167,5.6M,"50,000+",Free,0,Everyone,Art & Design,"March 26, 2017",1.0,2.3 and up
6,Smoke Effect Photo Maker - Smoke Editor,ART_AND_DESIGN,3.8,178,19M,"50,000+",Free,0,Everyone,Art & Design,"April 26, 2018",1.1,4.0.3 and up
7,Infinite Painter,ART_AND_DESIGN,4.1,36815,29M,"1,000,000+",Free,0,Everyone,Art & Design,"June 14, 2018",6.1.61.1,4.2 and up
8,Garden Coloring Book,ART_AND_DESIGN,4.4,13791,33M,"1,000,000+",Free,0,Everyone,Art & Design,"September 20, 2017",2.9.2,3.0 and up
9,Kids Paint Free - Drawing Fun,ART_AND_DESIGN,4.7,121,3.1M,"10,000+",Free,0,Everyone,Art & Design;Creativity,"July 3, 2018",2.8,4.0.3 and up

In [16]:
gr1=df11.groupby(['Rating','Installs']).groups
gr1

{(3.8, '50,000+'): [6], (3.9, '500,000+'): [1], (4.1, '1,000,000+'): [7], (4.1, '10,000+'): [0], (4.3, '100,000+'): [4], (4.4, '1,000,000+'): [8], (4.4, '50,000+'): [5], (4.5, '50,000,000+'): [3], (4.7, '10,000+'): [9], (4.7, '5,000,000+'): [2]}

In [6]:
gr1.groups

{185965: Int64Index([1], dtype='int64'),
 253018: Int64Index([12], dtype='int64'),
 300243: Int64Index([13], dtype='int64'),
 311574: Int64Index([6], dtype='int64'),
 311840: Int64Index([9], dtype='int64'),
 311973: Int64Index([8], dtype='int64'),
 312028: Int64Index([11], dtype='int64'),
 312240: Int64Index([4], dtype='int64'),
 312257: Int64Index([10], dtype='int64'),
 312333: Int64Index([3], dtype='int64'),
 312336: Int64Index([5], dtype='int64'),
 312376: Int64Index([2], dtype='int64'),
 312761: Int64Index([7], dtype='int64'),
 1560859: Int64Index([0], dtype='int64'),
 1607228: Int64Index([14], dtype='int64')}

In [8]:
gr1=df.groupby(['hlpi','tot_hhs']).groups
gr1

{('allhh', 1560859): Int64Index([0], dtype='int64'),
 ('allhh', 1607228): Int64Index([14], dtype='int64'),
 ('benef', 185965): Int64Index([1], dtype='int64'),
 ('disq1', 312376): Int64Index([2], dtype='int64'),
 ('disq2', 312333): Int64Index([3], dtype='int64'),
 ('disq3', 312240): Int64Index([4], dtype='int64'),
 ('disq4', 312336): Int64Index([5], dtype='int64'),
 ('disq5', 311574): Int64Index([6], dtype='int64'),
 ('expq1', 312761): Int64Index([7], dtype='int64'),
 ('expq2', 311973): Int64Index([8], dtype='int64'),
 ('expq3', 311840): Int64Index([9], dtype='int64'),
 ('expq4', 312257): Int64Index([10], dtype='int64'),
 ('expq5', 312028): Int64Index([11], dtype='int64'),
 ('maori', 253018): Int64Index([12], dtype='int64'),
 ('super', 300243): Int64Index([13], dtype='int64')}

In [9]:
for hlpi,df1 in gr1:
    print(hlpi)
    print(gr1)

allhh
{('allhh', 1560859): Int64Index([0], dtype='int64'), ('allhh', 1607228): Int64Index([14], dtype='int64'), ('benef', 185965): Int64Index([1], dtype='int64'), ('disq1', 312376): Int64Index([2], dtype='int64'), ('disq2', 312333): Int64Index([3], dtype='int64'), ('disq3', 312240): Int64Index([4], dtype='int64'), ('disq4', 312336): Int64Index([5], dtype='int64'), ('disq5', 311574): Int64Index([6], dtype='int64'), ('expq1', 312761): Int64Index([7], dtype='int64'), ('expq2', 311973): Int64Index([8], dtype='int64'), ('expq3', 311840): Int64Index([9], dtype='int64'), ('expq4', 312257): Int64Index([10], dtype='int64'), ('expq5', 312028): Int64Index([11], dtype='int64'), ('maori', 253018): Int64Index([12], dtype='int64'), ('super', 300243): Int64Index([13], dtype='int64')}
allhh
{('allhh', 1560859): Int64Index([0], dtype='int64'), ('allhh', 1607228): Int64Index([14], dtype='int64'), ('benef', 185965): Int64Index([1], dtype='int64'), ('disq1', 312376): Int64Index([2], dtype='int64'), ('disq2', 312333): Int64Index([3], dtype='int64'), ('disq3', 312240): Int64Index([4], dtype='int64'), ('disq4', 312336): Int64Index([5], dtype='int64'), ('disq5', 311574): Int64Index([6], dtype='int64'), ('expq1', 312761): Int64Index([7], dtype='int64'), ('expq2', 311973): Int64Index([8], dtype='int64'), ('expq3', 311840): Int64Index([9], dtype='int64'), ('expq4', 312257): Int64Index([10], dtype='int64'), ('expq5', 312028): Int64Index([11], dtype='int64'), ('maori', 253018): Int64Index([12], dtype='int64'), ('super', 300243): Int64Index([13], dtype='int64')}
benef
{('allhh', 1560859): Int64Index([0], dtype='int64'), ('allhh', 1607228): Int64Index([14], dtype='int64'), ('benef', 185965): Int64Index([1], dtype='int64'), ('disq1', 312376): Int64Index([2], dtype='int64'), ('disq2', 312333): Int64Index([3], dtype='int64'), ('disq3', 312240): Int64Index([4], dtype='int64'), ('disq4', 312336): Int64Index([5], dtype='int64'), ('disq5', 311574): Int64Index([6], dtype='int64'), ('expq1', 312761): Int64Index([7], dtype='int64'), ('expq2', 311973): Int64Index([8], dtype='int64'), ('expq3', 311840): Int64Index([9], dtype='int64'), ('expq4', 312257): Int64Index([10], dtype='int64'), ('expq5', 312028): Int64Index([11], dtype='int64'), ('maori', 253018): Int64Index([12], dtype='int64'), ('super', 300243): Int64Index([13], dtype='int64')}
disq1
{('allhh', 1560859): Int64Index([0], dtype='int64'), ('allhh', 1607228): Int64Index([14], dtype='int64'), ('benef', 185965): Int64Index([1], dtype='int64'), ('disq1', 312376): Int64Index([2], dtype='int64'), ('disq2', 312333): Int64Index([3], dtype='int64'), ('disq3', 312240): Int64Index([4], dtype='int64'), ('disq4', 312336): Int64Index([5], dtype='int64'), ('disq5', 311574): Int64Index([6], dtype='int64'), ('expq1', 312761): Int64Index([7], dtype='int64'), ('expq2', 311973): Int64Index([8], dtype='int64'), ('expq3', 311840): Int64Index([9], dtype='int64'), ('expq4', 312257): Int64Index([10], dtype='int64'), ('expq5', 312028): Int64Index([11], dtype='int64'), ('maori', 253018): Int64Index([12], dtype='int64'), ('super', 300243): Int64Index([13], dtype='int64')}
disq2
{('allhh', 1560859): Int64Index([0], dtype='int64'), ('allhh', 1607228): Int64Index([14], dtype='int64'), ('benef', 185965): Int64Index([1], dtype='int64'), ('disq1', 312376): Int64Index([2], dtype='int64'), ('disq2', 312333): Int64Index([3], dtype='int64'), ('disq3', 312240): Int64Index([4], dtype='int64'), ('disq4', 312336): Int64Index([5], dtype='int64'), ('disq5', 311574): Int64Index([6], dtype='int64'), ('expq1', 312761): Int64Index([7], dtype='int64'), ('expq2', 311973): Int64Index([8], dtype='int64'), ('expq3', 311840): Int64Index([9], dtype='int64'), ('expq4', 312257): Int64Index([10], dtype='int64'), ('expq5', 312028): Int64Index([11], dtype='int64'), ('maori', 253018): Int64Index([12], dtype='int64'), ('super', 300243): Int64Index([13], dtype='int64')}
disq3
{('allhh', 1560859): Int64Index([0], dtype='int64'), ('allhh', 1607228): Int64Index([14], dtype='int64'), ('benef', 185965): Int64Index([1], dtype='int64'), ('disq1', 312376): Int64Index([2], dtype='int64'), ('disq2', 312333): Int64Index([3], dtype='int64'), ('disq3', 312240): Int64Index([4], dtype='int64'), ('disq4', 312336): Int64Index([5], dtype='int64'), ('disq5', 311574): Int64Index([6], dtype='int64'), ('expq1', 312761): Int64Index([7], dtype='int64'), ('expq2', 311973): Int64Index([8], dtype='int64'), ('expq3', 311840): Int64Index([9], dtype='int64'), ('expq4', 312257): Int64Index([10], dtype='int64'), ('expq5', 312028): Int64Index([11], dtype='int64'), ('maori', 253018): Int64Index([12], dtype='int64'), ('super', 300243): Int64Index([13], dtype='int64')}
disq4
{('allhh', 1560859): Int64Index([0], dtype='int64'), ('allhh', 1607228): Int64Index([14], dtype='int64'), ('benef', 185965): Int64Index([1], dtype='int64'), ('disq1', 312376): Int64Index([2], dtype='int64'), ('disq2', 312333): Int64Index([3], dtype='int64'), ('disq3', 312240): Int64Index([4], dtype='int64'), ('disq4', 312336): Int64Index([5], dtype='int64'), ('disq5', 311574): Int64Index([6], dtype='int64'), ('expq1', 312761): Int64Index([7], dtype='int64'), ('expq2', 311973): Int64Index([8], dtype='int64'), ('expq3', 311840): Int64Index([9], dtype='int64'), ('expq4', 312257): Int64Index([10], dtype='int64'), ('expq5', 312028): Int64Index([11], dtype='int64'), ('maori', 253018): Int64Index([12], dtype='int64'), ('super', 300243): Int64Index([13], dtype='int64')}
disq5
{('allhh', 1560859): Int64Index([0], dtype='int64'), ('allhh', 1607228): Int64Index([14], dtype='int64'), ('benef', 185965): Int64Index([1], dtype='int64'), ('disq1', 312376): Int64Index([2], dtype='int64'), ('disq2', 312333): Int64Index([3], dtype='int64'), ('disq3', 312240): Int64Index([4], dtype='int64'), ('disq4', 312336): Int64Index([5], dtype='int64'), ('disq5', 311574): Int64Index([6], dtype='int64'), ('expq1', 312761): Int64Index([7], dtype='int64'), ('expq2', 311973): Int64Index([8], dtype='int64'), ('expq3', 311840): Int64Index([9], dtype='int64'), ('expq4', 312257): Int64Index([10], dtype='int64'), ('expq5', 312028): Int64Index([11], dtype='int64'), ('maori', 253018): Int64Index([12], dtype='int64'), ('super', 300243): Int64Index([13], dtype='int64')}
expq1
{('allhh', 1560859): Int64Index([0], dtype='int64'), ('allhh', 1607228): Int64Index([14], dtype='int64'), ('benef', 185965): Int64Index([1], dtype='int64'), ('disq1', 312376): Int64Index([2], dtype='int64'), ('disq2', 312333): Int64Index([3], dtype='int64'), ('disq3', 312240): Int64Index([4], dtype='int64'), ('disq4', 312336): Int64Index([5], dtype='int64'), ('disq5', 311574): Int64Index([6], dtype='int64'), ('expq1', 312761): Int64Index([7], dtype='int64'), ('expq2', 311973): Int64Index([8], dtype='int64'), ('expq3', 311840): Int64Index([9], dtype='int64'), ('expq4', 312257): Int64Index([10], dtype='int64'), ('expq5', 312028): Int64Index([11], dtype='int64'), ('maori', 253018): Int64Index([12], dtype='int64'), ('super', 300243): Int64Index([13], dtype='int64')}
expq2
{('allhh', 1560859): Int64Index([0], dtype='int64'), ('allhh', 1607228): Int64Index([14], dtype='int64'), ('benef', 185965): Int64Index([1], dtype='int64'), ('disq1', 312376): Int64Index([2], dtype='int64'), ('disq2', 312333): Int64Index([3], dtype='int64'), ('disq3', 312240): Int64Index([4], dtype='int64'), ('disq4', 312336): Int64Index([5], dtype='int64'), ('disq5', 311574): Int64Index([6], dtype='int64'), ('expq1', 312761): Int64Index([7], dtype='int64'), ('expq2', 311973): Int64Index([8], dtype='int64'), ('expq3', 311840): Int64Index([9], dtype='int64'), ('expq4', 312257): Int64Index([10], dtype='int64'), ('expq5', 312028): Int64Index([11], dtype='int64'), ('maori', 253018): Int64Index([12], dtype='int64'), ('super', 300243): Int64Index([13], dtype='int64')}
expq3
{('allhh', 1560859): Int64Index([0], dtype='int64'), ('allhh', 1607228): Int64Index([14], dtype='int64'), ('benef', 185965): Int64Index([1], dtype='int64'), ('disq1', 312376): Int64Index([2], dtype='int64'), ('disq2', 312333): Int64Index([3], dtype='int64'), ('disq3', 312240): Int64Index([4], dtype='int64'), ('disq4', 312336): Int64Index([5], dtype='int64'), ('disq5', 311574): Int64Index([6], dtype='int64'), ('expq1', 312761): Int64Index([7], dtype='int64'), ('expq2', 311973): Int64Index([8], dtype='int64'), ('expq3', 311840): Int64Index([9], dtype='int64'), ('expq4', 312257): Int64Index([10], dtype='int64'), ('expq5', 312028): Int64Index([11], dtype='int64'), ('maori', 253018): Int64Index([12], dtype='int64'), ('super', 300243): Int64Index([13], dtype='int64')}
expq4
{('allhh', 1560859): Int64Index([0], dtype='int64'), ('allhh', 1607228): Int64Index([14], dtype='int64'), ('benef', 185965): Int64Index([1], dtype='int64'), ('disq1', 312376): Int64Index([2], dtype='int64'), ('disq2', 312333): Int64Index([3], dtype='int64'), ('disq3', 312240): Int64Index([4], dtype='int64'), ('disq4', 312336): Int64Index([5], dtype='int64'), ('disq5', 311574): Int64Index([6], dtype='int64'), ('expq1', 312761): Int64Index([7], dtype='int64'), ('expq2', 311973): Int64Index([8], dtype='int64'), ('expq3', 311840): Int64Index([9], dtype='int64'), ('expq4', 312257): Int64Index([10], dtype='int64'), ('expq5', 312028): Int64Index([11], dtype='int64'), ('maori', 253018): Int64Index([12], dtype='int64'), ('super', 300243): Int64Index([13], dtype='int64')}
expq5
{('allhh', 1560859): Int64Index([0], dtype='int64'), ('allhh', 1607228): Int64Index([14], dtype='int64'), ('benef', 185965): Int64Index([1], dtype='int64'), ('disq1', 312376): Int64Index([2], dtype='int64'), ('disq2', 312333): Int64Index([3], dtype='int64'), ('disq3', 312240): Int64Index([4], dtype='int64'), ('disq4', 312336): Int64Index([5], dtype='int64'), ('disq5', 311574): Int64Index([6], dtype='int64'), ('expq1', 312761): Int64Index([7], dtype='int64'), ('expq2', 311973): Int64Index([8], dtype='int64'), ('expq3', 311840): Int64Index([9], dtype='int64'), ('expq4', 312257): Int64Index([10], dtype='int64'), ('expq5', 312028): Int64Index([11], dtype='int64'), ('maori', 253018): Int64Index([12], dtype='int64'), ('super', 300243): Int64Index([13], dtype='int64')}
maori
{('allhh', 1560859): Int64Index([0], dtype='int64'), ('allhh', 1607228): Int64Index([14], dtype='int64'), ('benef', 185965): Int64Index([1], dtype='int64'), ('disq1', 312376): Int64Index([2], dtype='int64'), ('disq2', 312333): Int64Index([3], dtype='int64'), ('disq3', 312240): Int64Index([4], dtype='int64'), ('disq4', 312336): Int64Index([5], dtype='int64'), ('disq5', 311574): Int64Index([6], dtype='int64'), ('expq1', 312761): Int64Index([7], dtype='int64'), ('expq2', 311973): Int64Index([8], dtype='int64'), ('expq3', 311840): Int64Index([9], dtype='int64'), ('expq4', 312257): Int64Index([10], dtype='int64'), ('expq5', 312028): Int64Index([11], dtype='int64'), ('maori', 253018): Int64Index([12], dtype='int64'), ('super', 300243): Int64Index([13], dtype='int64')}
super
{('allhh', 1560859): Int64Index([0], dtype='int64'), ('allhh', 1607228): Int64Index([14], dtype='int64'), ('benef', 185965): Int64Index([1], dtype='int64'), ('disq1', 312376): Int64Index([2], dtype='int64'), ('disq2', 312333): Int64Index([3], dtype='int64'), ('disq3', 312240): Int64Index([4], dtype='int64'), ('disq4', 312336): Int64Index([5], dtype='int64'), ('disq5', 311574): Int64Index([6], dtype='int64'), ('expq1', 312761): Int64Index([7], dtype='int64'), ('expq2', 311973): Int64Index([8], dtype='int64'), ('expq3', 311840): Int64Index([9], dtype='int64'), ('expq4', 312257): Int64Index([10], dtype='int64'), ('expq5', 312028): Int64Index([11], dtype='int64'), ('maori', 253018): Int64Index([12], dtype='int64'), ('super', 300243): Int64Index([13], dtype='int64')}

In [10]:
list(gr1)

[('allhh', 1560859),
 ('allhh', 1607228),
 ('benef', 185965),
 ('disq1', 312376),
 ('disq2', 312333),
 ('disq3', 312240),
 ('disq4', 312336),
 ('disq5', 311574),
 ('expq1', 312761),
 ('expq2', 311973),
 ('expq3', 311840),
 ('expq4', 312257),
 ('expq5', 312028),
 ('maori', 253018),
 ('super', 300243)]

In [11]:
dict(list(gr1))

{'allhh': 1607228,
 'benef': 185965,
 'disq1': 312376,
 'disq2': 312333,
 'disq3': 312240,
 'disq4': 312336,
 'disq5': 311574,
 'expq1': 312761,
 'expq2': 311973,
 'expq3': 311840,
 'expq4': 312257,
 'expq5': 312028,
 'maori': 253018,
 'super': 300243}

In [14]:
gr3=df.groupby('year').get_group(2008)
gr3

,hlpi_name,year,hlpi,tot_hhs,own,own_wm,own_prop,own_wm_prop,prop_hhs,age,size,income,expenditure,eqv_income,eqv_exp
0,All households,2008,allhh,1560859,1087580,574406,69.7,36.8,100.0,35.9,2.7,46704,42394,26869,25132
1,Beneficiary,2008,benef,185965,71256,39405,38.3,21.2,11.9,29.9,2.6,23404,25270,14258,15824
2,Income quintile 1 (low),2008,disq1,312376,191470,48424,61.3,15.5,20.0,40.0,2.3,16747,21145,13402,14408
3,Income quintile 2,2008,disq2,312333,196203,84171,62.8,26.9,20.0,34.7,2.8,31308,29855,18917,18266
4,Income quintile 3,2008,disq3,312240,217657,141318,69.7,45.3,20.0,31.5,3.0,49106,46561,26870,24672
5,Income quintile 4,2008,disq4,312336,229014,147658,73.3,47.3,20.0,35.3,2.6,61674,52776,36691,31958
6,Income quintile 5 (high),2008,disq5,311574,253235,152835,81.3,49.1,20.0,39.3,2.5,96861,72822,55637,42932
7,Expenditure quintile 1 (low),2008,expq1,312761,194358,49448,62.1,15.8,20.0,38.7,2.5,23680,16413,15190,11015
8,Expenditure quintile 2,2008,expq2,311973,206342,86390,66.1,27.7,20.0,36.1,2.7,34155,29085,20357,18121
9,Expenditure quintile 3,2008,expq3,311840,194361,108065,62.3,34.7,20.0,33.0,2.8,49771,42662,27203,25132
10,Expenditure quintile 4,2008,expq4,312257,231612,149007,74.2,47.7,20.0,35.1,2.7,60863,59015,34547,34167
11,Expenditure quintile 5 (high),2008,expq5,312028,260907,181496,83.6,58.2,20.0,36.7,2.5,77434,89053,46269,51550
12,Maori,2008,maori,253018,119963,77076,47.4,30.5,16.2,28.9,3.2,42885,35312,23096,19797
13,Superannuitant,2008,super,300243,263054,15406,87.6,5.1,19.2,70.3,1.6,22367,21538,17203,17211

In [15]:
gr3=df.groupby('prop_hhs').get_group(20)
gr3

,hlpi_name,year,hlpi,tot_hhs,own,own_wm,own_prop,own_wm_prop,prop_hhs,age,size,income,expenditure,eqv_income,eqv_exp
2,Income quintile 1 (low),2008,disq1,312376,191470,48424,61.3,15.5,20.0,40.0,2.3,16747,21145,13402,14408
3,Income quintile 2,2008,disq2,312333,196203,84171,62.8,26.9,20.0,34.7,2.8,31308,29855,18917,18266
4,Income quintile 3,2008,disq3,312240,217657,141318,69.7,45.3,20.0,31.5,3.0,49106,46561,26870,24672
5,Income quintile 4,2008,disq4,312336,229014,147658,73.3,47.3,20.0,35.3,2.6,61674,52776,36691,31958
6,Income quintile 5 (high),2008,disq5,311574,253235,152835,81.3,49.1,20.0,39.3,2.5,96861,72822,55637,42932
7,Expenditure quintile 1 (low),2008,expq1,312761,194358,49448,62.1,15.8,20.0,38.7,2.5,23680,16413,15190,11015
8,Expenditure quintile 2,2008,expq2,311973,206342,86390,66.1,27.7,20.0,36.1,2.7,34155,29085,20357,18121
9,Expenditure quintile 3,2008,expq3,311840,194361,108065,62.3,34.7,20.0,33.0,2.8,49771,42662,27203,25132
10,Expenditure quintile 4,2008,expq4,312257,231612,149007,74.2,47.7,20.0,35.1,2.7,60863,59015,34547,34167
11,Expenditure quintile 5 (high),2008,expq5,312028,260907,181496,83.6,58.2,20.0,36.7,2.5,77434,89053,46269,51550

In [17]:
gr3.sum()

hlpi_name      Income quintile 1 (low)Income quintile 2Income...
year                                                       20080
hlpi           disq1disq2disq3disq4disq5expq1expq2expq3expq4e...
tot_hhs                                                  3121718
own                                                      2175159
own_wm                                                   1148812
own_prop                                                   696.7
own_wm_prop                                                368.2
prop_hhs                                                     200
age                                                        360.4
size                                                        26.4
income                                                    501599
expenditure                                               459387
eqv_income                                                295083
eqv_exp                                                   272221
dtype: object

In [19]:
gr3.mean()

year             2008.00
tot_hhs        312171.80
own            217515.90
own_wm         114881.20
own_prop           69.67
own_wm_prop        36.82
prop_hhs           20.00
age                36.04
size                2.64
income          50159.90
expenditure     45938.70
eqv_income      29508.30
eqv_exp         27222.10
dtype: float64

In [20]:
gr3.describe()

,year,tot_hhs,own,own_wm,own_prop,own_wm_prop,prop_hhs,age,size,income,expenditure,eqv_income,eqv_exp
count,10.0,10.000000,10.000000,10.000000,10.000000,10.000000,10.0,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
mean,2008.0,312171.800000,217515.900000,114881.200000,69.670000,36.820000,20.0,36.040000,2.640000,50159.900000,45938.700000,29508.300000,27222.100000
std,0.0,330.213332,25428.527927,46326.383519,8.196347,14.871584,0.0,2.726496,0.201108,24949.771802,23189.183604,13797.074094,12953.303255
min,2008.0,311574.000000,191470.000000,48424.000000,61.300000,15.500000,20.0,31.500000,2.300000,16747.000000,16413.000000,13402.000000,11015.000000
25%,2008.0,311986.750000,194821.500000,84725.750000,62.425000,27.100000,20.0,34.800000,2.500000,32019.750000,29277.500000,19277.000000,18157.250000
50%,2008.0,312248.500000,211999.500000,124691.500000,67.900000,40.000000,20.0,35.700000,2.650000,49438.500000,44611.500000,27036.500000,24902.000000
75%,2008.0,312335.250000,230962.500000,148669.750000,73.975000,47.600000,20.0,38.200000,2.775000,61471.250000,57455.250000,36155.000000,33614.750000
max,2008.0,312761.000000,260907.000000,181496.000000,83.600000,58.200000,20.0,40.000000,3.000000,96861.000000,89053.000000,55637.000000,51550.000000

In [21]:
gr3.agg(['sum','max','mean'])

,hlpi_name,year,hlpi,tot_hhs,own,own_wm,own_prop,own_wm_prop,prop_hhs,age,size,income,expenditure,eqv_income,eqv_exp
sum,Income quintile 1 (low)Income quintile 2Income...,20080.0,disq1disq2disq3disq4disq5expq1expq2expq3expq4e...,3121718.0,2175159.0,1148812.0,696.70,368.20,200.0,360.40,26.40,501599.0,459387.0,295083.0,272221.0
max,Income quintile 5 (high),2008.0,expq5,312761.0,260907.0,181496.0,83.60,58.20,20.0,40.00,3.00,96861.0,89053.0,55637.0,51550.0
mean,NaN,2008.0,NaN,312171.8,217515.9,114881.2,69.67,36.82,20.0,36.04,2.64,50159.9,45938.7,29508.3,27222.1

In [10]:
df11=pd.read_csv('E:\csv files\googleplaystore.csv',nrows=10)
df11

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
5,Paper flowers instructions,ART_AND_DESIGN,4.4,167,5.6M,"50,000+",Free,0,Everyone,Art & Design,"March 26, 2017",1.0,2.3 and up
6,Smoke Effect Photo Maker - Smoke Editor,ART_AND_DESIGN,3.8,178,19M,"50,000+",Free,0,Everyone,Art & Design,"April 26, 2018",1.1,4.0.3 and up
7,Infinite Painter,ART_AND_DESIGN,4.1,36815,29M,"1,000,000+",Free,0,Everyone,Art & Design,"June 14, 2018",6.1.61.1,4.2 and up
8,Garden Coloring Book,ART_AND_DESIGN,4.4,13791,33M,"1,000,000+",Free,0,Everyone,Art & Design,"September 20, 2017",2.9.2,3.0 and up
9,Kids Paint Free - Drawing Fun,ART_AND_DESIGN,4.7,121,3.1M,"10,000+",Free,0,Everyone,Art & Design;Creativity,"July 3, 2018",2.8,4.0.3 and up

In [11]:
df11

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
5,Paper flowers instructions,ART_AND_DESIGN,4.4,167,5.6M,"50,000+",Free,0,Everyone,Art & Design,"March 26, 2017",1.0,2.3 and up
6,Smoke Effect Photo Maker - Smoke Editor,ART_AND_DESIGN,3.8,178,19M,"50,000+",Free,0,Everyone,Art & Design,"April 26, 2018",1.1,4.0.3 and up
7,Infinite Painter,ART_AND_DESIGN,4.1,36815,29M,"1,000,000+",Free,0,Everyone,Art & Design,"June 14, 2018",6.1.61.1,4.2 and up
8,Garden Coloring Book,ART_AND_DESIGN,4.4,13791,33M,"1,000,000+",Free,0,Everyone,Art & Design,"September 20, 2017",2.9.2,3.0 and up
9,Kids Paint Free - Drawing Fun,ART_AND_DESIGN,4.7,121,3.1M,"10,000+",Free,0,Everyone,Art & Design;Creativity,"July 3, 2018",2.8,4.0.3 and up